<h2>livros Cadastrar</h2>
<hr>

<h1>Atualizar Livros</h1>

<p>titulo do livro:</p>
<input type="text" placeholder="NOME DO LIVRO">

<p>categoria do Livro:</p>
<input type="text" placeholder="CATEGORIA">

<p>descrição do livro:</p>
<input type="text" placeholder="Nome do livro">