<h1>Livros   Cadastrar </h1>
<hr>

<div class="caixa-livro">
   <h2>nome do livro</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae commodi, quaerat aperiam mollitia officia at similique! Nisi deserunt aliquid dolorum possimus sint, libero debitis fugiat qui corrupti quibusdam perferendis mollitia.</p>
<h3>Categoria     R$50,00</h3>
<input type="submit">
<input type="submit">
</div>

<div class="caixa-livro">
   <h2>nome do livro</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae commodi, quaerat aperiam mollitia officia at similique! Nisi deserunt aliquid dolorum possimus sint, libero debitis fugiat qui corrupti quibusdam perferendis mollitia.</p>
<input type="submit">
<input type="submit">
</div>

<div class="caixa-livro">
   <h2>nome do livro</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae commodi, quaerat aperiam mollitia officia at similique! Nisi deserunt aliquid dolorum possimus sint, libero debitis fugiat qui corrupti quibusdam perferendis mollitia.</p>
<input type="submit">
<input type="submit">
</div>

<div class="caixa-livro">
   <h2>nome do livro</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae commodi, quaerat aperiam mollitia officia at similique! Nisi deserunt aliquid dolorum possimus sint, libero debitis fugiat qui corrupti quibusdam perferendis mollitia.</p>
<input type="submit">
<input type="submit">
</div>

<div class="caixa-livro">
   <h2>nome do livro</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae commodi, quaerat aperiam mollitia officia at similique! Nisi deserunt aliquid dolorum possimus sint, libero debitis fugiat qui corrupti quibusdam perferendis mollitia.</p>
<input type="submit">
<input type="submit">
</div>



